*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(246, 248, 249);
  font-family: 'Roboto', sans-serif;
}

/***** HEADER  *****/
header{
  background-color: white;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 20px;
}

#logo{
  width: 40px;
  vertical-align: middle;
}

h1{
  display: inline-block;
}

/***** MAIN  *****/
.container{
  margin: 30px auto;
  width: 60%;
  height: 500px;
  background-color: white;
}

.buttons{
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 40px;
  border-bottom: 2px solid rgb(246, 248, 249) ;
}

/* buttons  */
button{
  border-radius: 3px;
  padding: 5px;
  font-size: 8px;
}

.add-task{
  width: 50px;
  border: 0;
  background-color: rgb(71, 173, 241);
  color: white;
}

.add-section{
  width: 60px;
  border: 0;
  background-color: white;
  border: 1px solid lightgrey;
  color: lightgrey;
}
/* /buttons  */

.contenuto{
  padding-left: 40px;
}

.menu{
  padding-top: 20px;
}

.little-title{
  color: rgb(74, 78, 87);
}

/* simbols  */
.little-title::before{
  content: '\2B9F';
}

.done::before{
  content: '\2611';
  color: green;
}

.undone::before{
  content: '\2612';
  color: red;
}

/* menu  */
.text{
  font-size: 10px;
  padding-top: 5px;
}

.editorial{
  padding: 3px 6px;
  border-radius: 10px;
  background-color: rgb(71, 173, 241);
  color: white;
  font-size: 6px;
}

.q1-goals{
  padding: 3px 6px;
  border-radius: 10px;
  background-color: rgb(156, 114, 228);
  color: white;
  font-size: 6px;
}

.recluting{
  padding: 3px 6px;
  border-radius: 10px;
  background-color: rgb(98, 191, 168);
  color: white;
  font-size: 6px;
}

.mobile{
  padding: 3px 6px;
  border-radius: 10px;
  background-color: rgb(241, 154, 42);
  color: white;
  font-size: 6px;
}

.website{
  padding: 3px 6px;
  border-radius: 10px;
  background-color: rgb(215, 94, 158);
  color: white;
  font-size: 6px;
}

.sales{
  padding: 3px 6px;
  border-radius: 10px;
  background-color: rgb(176, 201, 38);
  color: white;
  font-size: 6px;
}
/* /menu  */
