*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(246, 248, 249);
}

header{
  background-color: white;
}

#logo{
  vertical-align: middle;
}

h1{
  display: inline-block;
}

header{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.container{
  margin: 30px auto;
  width: 60%;
  height: 500px;
  background-color: white;
}

.buttons{
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 40px;
  border-bottom: 2px solid rgb(246, 248, 249) ;
}

button{
  border-radius: 3px;
  padding: 5px;
  font-size: 8px;
}

.add-task{
  width: 50px;
  border: 0;
  background-color: rgb(71, 173, 241);
  color: white;
}

.add-section{
  width: 60px;
  border: 0;
  background-color: white;
  border: 1px solid lightgrey;
  color: lightgrey;
}

.contenuto{
  padding-left: 40px;
}

.menu{
  padding-top: 20px;
}

.little-title{
  color: rgb(74, 78, 87);
}

.row{
  width: 5px;
  height: 2px;
}

.text{
  font-size: 10px;
  padding-top: 5px;
}

.editorial{
  padding: 3px 6px;
  border-radius: 10px;
  background-color: rgb(71, 173, 241);
  color: white;
  font-size: 6px;
}

.q1-goals{
  padding: 3px 6px;
  border-radius: 10px;
  background-color: rgb(156, 114, 228);
  color: white;
  font-size: 6px;
}

.recluting{
  padding: 3px 6px;
  border-radius: 10px;
  background-color: rgb(98, 191, 168);
  color: white;
  font-size: 6px;
}

.mobile{
  padding: 3px 6px;
  border-radius: 10px;
  background-color: rgb(241, 154, 42);
  color: white;
  font-size: 6px;
}

